.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  padding: 0px;
  font-size: calc(30px + (24 - 16) * (100vw - 400px) / (900 - 400));
}

.ui.icon {
  padding-right: 0px;
}

.ui.input > input {
  padding: 0px;
}

.button {
  border-radius: 5px;
  border-color: white;
  background-color: #1b2229;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 350px;
  transition: all 0.1s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  border-color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.button span:after {
  border-color: white;
  content: "\00BB";
  position: absolute;
  opacity: 0;
  top: 30px;
  right: 92px;
  transition: 0.1s;
  margin-top: 0px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.button:hover span {
  padding-bottom: 10px;
  border-color: white;
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
}

.button:hover span:after {
  opacity: 1;
  right: 1;
  border-color: white;
}

.tamanho {
  font-size: calc(25px + (24 - 16) * (100vw - 400px) / (1500 - 800));
}

@media screen and (max-width: 600px) {
  .tamanho {
    margin-left: 10px;
  }
}

.frente {
  z-index: 10;
  position: relative;
}

.segmento {
  padding: 1000px;
}

.myHoveringButton {
  background: slategray;
  color: white;
  padding: 8px 15px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
}

.myHoveringButton:hover {
  background: #1b2229;
  color: white;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 70%;
  padding: 10px;
}

/* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  width: 30%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fixo {
  /* deixando o elemento na posição desejada */
  margin-top: 0px; /* altura que está do topo */
  top: 0px; /* altura que vai parar antes do topo */
  /* apenas para aparência */
  background-color: gold;
  border: 1px solid red;
  height: 30px;
  position: sticky;
}
