.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  padding: 0px;
}

.ui.icon {
  padding-right: 0px;
}

.ui.input > input {
  padding: 0px;
}
